body {
    background-color: var(--bgBody);
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--text);
}

.registerWrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    background: var(--bg);
    width: 420px;
    padding: 35px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerLogo {
    width: 250px;
    margin-bottom: 20px;
}

.auth-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 14px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid var(--border);
    background: var(--bgBody);
    color: var(--text);
    outline: none;
}

.auth-form input:focus {
    border-color: var(--bgGold);
}

.auth-form button {
    background: var(--bgGold);
    border: none;
    color: var(--altText);
    padding: 12px 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.auth-form button:hover {
    background: var(--goldHover);
}

.auth-form button:active {
    transform: scale(0.98);
}

.message {
    margin-top: 15px;
    color: rgba(255, 0, 0, 0.801);
    font-size: 16px;
    text-align: center;
}

#loginMessage {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: var(--text);
}

#loginMessage a {
    color: var(--bgGold);
    font-weight: 700;
    text-decoration: none;
}

#loginMessage a:hover {
    color: var(--goldHover);
}
