
html, body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.upcomingMoviesSection{
    background: var(--bgBody);
    
    
}
.upcomingHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 320px 0 240px;
    position: relative;  /* this is necessary for pseudo element below*/
}

.upcomingHeader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 300px;      
    width: 64.3%;        
    border-bottom: 1px solid var(--bgText);
}
.seeAllupcoming {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--bgText);
    cursor: pointer;
    text-decoration: none;
    margin-right: 70px;
}

.seeAllupcoming:hover {
    color: var(--bgText);
    text-decoration: underline;
}
.upcomingTitle{
    margin: 24px 0 12px;
    font-size: 28px;
    font-weight: 700;
    color: var(--bgText);
    line-height: 1.2;
    padding-left: 60px;
    
}
.upcomingMovieBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 320px 0 240px;
    background-color: var(--bgBody);
}

#upcomingMovies{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: 400px;
    gap: 33px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
    padding-top: 0;
}

#upcomingMovies > #movie1 img{
    max-width: 220px;
    display: block;
    object-fit: contain;
    filter: grayscale(0%);
    transition: 0.3 ease;
}

#upcomingMovies > #movie1 img:hover{
    filter: grayscale(100%);
}

#upcomingMovies::-webkit-scrollbar{
   display: none;
}

#upcomingMoviesLeft{
    background-color: var(--bgBody);
    border: none;
    cursor: pointer;
}

#upcomingMoviesLeft img{
    
}

#upcomingMoviesRight{
    background-color: var(--bgBody);
    border:none;
    cursor: pointer;
}

#upcomingMoviesRight img{

}
