.upcomingMoviesSection{
    background: var(--bgBody);   
}

.upcomingHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 320px 0 240px;
    position: relative;
}

.upcomingHeader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 300px;      
    width: 64.3%;        
    border-bottom: 1px solid var(--bgText);
}

.seeAllupcoming {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--bgText);
    cursor: pointer;
    text-decoration: none;
    margin-right: 70px;
}

.seeAllupcoming:hover {
    color: var(--bgText);
    text-decoration: underline;
}

.upcomingTitle{
    margin: 24px 0 12px;
    font-size: 28px;
    font-weight: 700;
    color: var(--bgText);
    line-height: 1.2;
    padding-left: 60px;
}

.upcomingMovieBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 320px 0 240px;
    background-color: var(--bgBody);
}

#upcomingMovies{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: 400px;
    gap: 33px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#upcomingMovies > #upcomingMoviePosters img{
    max-width: 218px;
    display: block;
    object-fit: contain;
    border-radius: 8px;
}

#upcomingMovies::-webkit-scrollbar{
   display: none;
}

#upcomingMoviesLeft{
    background-color: var(--bgBody);
    border: none;
    cursor: pointer;
}

#upcomingMoviesRight{
    background-color: var(--bgBody);
    border:none;
    cursor: pointer;
}

#upcomingMoviePosters {
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 8px;
   
}

#upcomingMoviesOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0 20px;          
    box-sizing: border-box;
    border-radius: 8px;
}

#upcomingMoviePosters:hover #upcomingMoviesOverlay  {
    opacity: 1;
}

#upcomingMoviePosters:hover img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
