.FollowerList{
    min-height: calc(100vh - 284px); 
}
#followerHeader{
    margin: 20px 400px 0 300px;
    padding: 0 0 10px 0;
    font-size: 30px;
    border-bottom-style: solid;
}

.noFollowers{
    text-align: center;
    width: 1300px;
    font-size: 30px;
}

.followerWrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 10px 400px 0 300px;
}

.followerLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    height: 70px;
    overflow: hidden;
}

.followerAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.followerAvatar:hover{
    cursor: pointer;
    border-color: white;
}

.followerUsername{
    margin: 0 0 0 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}

.followerUsername:hover{
    cursor: pointer;
    color: var(--bgGold);
}