.UserReviews{
    margin: 0 250px 0 250px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

.Header{
    font-size: 20px;
    padding-bottom: 5px;
    width: 1350px;
    border-bottom-style: solid;
}

#seeAll{
    position: relative;
    left: 1150px;
    color: inherit;
    text-decoration: none;
}

#seeAll:hover{
    color: rgb(148, 148, 148);
}