.welcomeHeader{
    margin-top: 70px;
    margin-bottom: 40px;
}

#welcomeMessage{
    position: relative;
    left: 32%;
    color: var(--text);
    font-size: 35px;
}

#welcomeMessage a{
    text-decoration: none;
    color: var(--bgGold);
}

#welcomeMessage a:hover{
    color: rgb(148, 148, 148);
    text-decoration: underline;
}