.FriendReviews{
    margin: 70px 0 40px 0;
}

#welcomeMessage{
    margin: 0 auto 0 auto;
    text-align: center;
    color: var(--text);
    font-size: 35px;
}

#welcomeMessage a{
    text-decoration: none;
    color: var(--bgGold);
}

#welcomeMessage a:hover{
    color: rgb(148, 148, 148);
    text-decoration: underline;
}

#FRHeader{
    margin: 20px auto 0 300px;
    width: 100%;
    max-width: 1225px;
    font-size: 27px;
    color: var(--bgText);
    padding: 0 0 15px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
}

.FRReviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto 0 300px;
    gap: 20px;
    max-width: 1225px;
}

#noFRReviews{
    display: flex;
    text-align: center;
}

.FRWrapper{
    width: 100%;
}

.FRUserLayout{
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom-style: solid;
}

.FRAvatar{
    width: 50px;
    max-height: 47px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: transparent;
    transition: border-color 0.3s ease-in-out; 
}

.FRAvatar:hover{
    cursor: pointer;
    border-color: white;
}

.FRUsername{
    position: relative;
    bottom: 5px;
    margin: 0 0 0 10px;
    overflow-x: auto;
    font-size: 30px
}

.FRUsername:hover{
    cursor: pointer;
    color: var(--bgGold);
}

.FRReviewLayout{
    margin: 5px 0 0 0;
    display: flex;
    width: 100%;
    height: 225px;
    max-height: 225px;
    background-color: var(--bg);
    border-radius: 10px;
}

.FRPoster img{
    width: 150px;
    border-radius: 8px;
    filter: grayscale(0%);
    transition: filter 0.2s ease-in-out;
}

.FRPoster img:hover{
    filter: grayscale(100%);
}

.FRReviewContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin: 0 5px 0 5px;
    border-left-style: solid;
    padding: 0 0 0 5px;
}

.FRMovieTitle a{
    text-decoration: none;
    color: inherit;
}

.FRMovieTitle a:hover{
    color: var(--goldHover);
}

.FRRatingRow{
    border-bottom-style: solid;
}

.FRStar{
    margin: 0 0 0 5px;
    width: 20px;
}

.FRReviewPara{
    margin: 5px 5px 5px 5px;
    font-style: italic;
    opacity: 0.6;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.FRReviewPara::-webkit-scrollbar {
    height: 8px;
}

.FRReviewPara::-webkit-scrollbar-track {
    border-radius: 4px;
}

.FRReviewPara::-webkit-scrollbar-thumb {
    background: #e2e2e288;
    border-radius: 4px;
}

.FRReviewPara::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2cc;
}