.welcomeHeader{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

#welcomeMessage{
    text-align: center;
    color: var(--text);
    font-size: 30px;
}

#welcomeMessage a{
    text-decoration: none;
    color: var(--bgGold);
}

#welcomeMessage a:hover{
    color: rgb(148, 148, 148);
    text-decoration: underline;
}