.AllReviews{
    min-height: calc(100vh - 334px); 
    margin-bottom: 50px;
}
#ARHeader{
    margin: 20px 400px 0 300px;
    padding: 0 0 10px 0;
    border-bottom-style: solid; 
}

.ARReviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 400px 0 300px;
    gap: 20px;
}

.ARReviewLayout{
    display: flex;
    background-color: var(--bg);
    border-radius: 10px;
    max-height: 225px;
}

.ARReviewContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin: 0 0 0 5px;
    border-left-style: solid;
    padding: 0 0 0 5px;
}

.ARMovieTitle a{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.ARMovieTitle a:hover{
    color: var(--goldHover);
}

.ARRatingRow{
    border-bottom-style: solid;
}

.ARStar{
    margin: 0 0 0 5px;
    width: 20px;
}

.ARReviewPara{
    font-size: 20px;
    font-style: italic;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    max-height: 165px;
    max-width: 225px;
    opacity: 0.6;
    margin: 5px 0 0 0;
}

.ARPoster img {
    width: 150px;
    border-radius: 8px;
}

.ARPoster {
    position: relative;
    width: 150px;
    border-radius: 8px;
    overflow: hidden;
}

#ARPosterOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0;
    transition: 0.3s ease;
    padding: 0 20px;          
    box-sizing: border-box;
    pointer-events: none;
}

.ARPoster:hover #ARPosterOverlay {
    opacity: 1;
    cursor: pointer;
}

.ARPoster:hover img {
    filter: grayscale(100%);
    transition: 0.3s ease;
}





.ARReviewPara::-webkit-scrollbar {
    width: 8px;
}

.ARReviewPara::-webkit-scrollbar-track {
    border-radius: 4px;
}

.ARReviewPara::-webkit-scrollbar-thumb {
    background: #e2e2e288;
    border-radius: 4px;
}

.ARReviewPara::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2cc;
}
