:root{
    --bg: #1E1E1E;
    --text: white;
    --border: black;
    --altText: black;
    --bgBody: #2B2B2B;
    --bgGold: #FFD700;
    --goldHover: #e0b300;
    --bgText: #BFBFBF;
}

body{
    background-color: var(--bgBody);
}

.navBar{
    height: 100px;
    width: 100%;
    background-color: #1E1E1E;
    align-items:center;              
    flex-shrink: 1;
    display:flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Trebuchet MS';
}

.left{
   padding-left: 300px;
}

.right{
    color: var(--text);
    padding-right: 400px;
}

.left, .right{ 
    gap: 10px;
    display:flex;
    align-items:center;
}

.middle{
    flex:1;          
    display: flex;
    justify-content: center;
    min-width:0;    
}

#searchBar{
    width : 100%;
    max-width: 800px;
    padding:10px 12px;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

#search-input {
    width: 100%;
    padding: 10px 140px 10px 12px;
    border: 3px solid var(--border);
    border-radius: 25px;
    outline: none;
    flex-grow: 1;
    font-family: 'Trebuchet MS';
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#navLogo{
    width: 160px;
    height: 505px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    overflow: hidden;
    padding-bottom: 10px;         
}

#navLogo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

#dropbtn{
    height: 39px;
    padding: 0 12px;
    background-color: var(--bgGold);
    color: var(--altText);
    border-radius:20px;
    font-size: 20px;
    border: none;
    font-family: 'Trebuchet MS';
}

#menu{
    position: relative;
    display: inline-block;
}

#dropbtn > span, #dropbtn > img{
    vertical-align: middle;
}

#dropdown-content{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bgGold);
    z-index: 1;
}

#dropdown-content a{
    color: var(--altText);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

#dropdown-content a:hover{
    background-color: var(--altText);
    color: var(--text);
}

#menu:hover #dropdown-content{
    border-radius: 0px 0px 20px 20px;
    display: block;
}

#menu:hover #dropbtn{
    border-radius: 20px 20px 0 0;
    background-color: var(--goldHover);
}

#menu:hover #dropdown-content #upcomingOption{
    border-radius: 0 0 18px 18px;
}

#log{
    position: relative;
    display: inline-block;
}

#logBtn{
    height: 39px;
    padding: 0 12px;
    background-color: var(--bgGold);
    color: black;
    border-radius:25px;
    font-size: 20px;
    border: none;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}

#logBtn:hover{
    background-color: var(--goldHover);
}

#logBtn > span, #logBtn > img{
    vertical-align: middle;
}

#profBtn{
    width: 50px;
    height: 50px;
    background-color: #1E1E1E;
    border-radius: 50%;
    border:3px solid var(--bgGold);
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

#profBtn > img{
    vertical-align: middle;
}

#profBtn:hover{
    background-color: var(--bgBody);
    border-color: var(--goldHover);
}

#profBtn img{
    width: 145%;
    object-fit: contain;
    background: transparent;
}

#profile{
    position: relative;
}

#profile-menu{
    position: absolute;
    top: 120%;
    left: 110%;
    transform: translateY(-50%);
    background: var(--bg);
    border: 1px var(--border);
    border-radius: 12px;
    min-width: 180px;
    z-index: 999;
    box-shadow: 0 8px 25px var(--border);
}

#profile-menu a{
    color: var(--text);
    text-decoration: none;
    padding: 10px 14px;
    font-size: 14px;
    display: block;
}

#profile-menu:hover #logoutButton{
    border-radius: 0 0 13px 13px;
}

#profile-menu a:hover{
  background: var(--bgBody);
  cursor: pointer;
}

#profile-header{
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 1px solid var(--bgBody);
}

#avatar-small{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--bgGold);
  overflow: hidden;
}

#avatar-small img{
    width: 100%;
}

#profile-name{
  color: var(--text);
  font-weight: 600;
}
#logoutButton{
    cursor: pointer;
}

#searchDropdown {
    position: absolute;
    top: 55px;
    width: 100%;
    max-width: 800px;
    background-color: var(--bg);  
    border: 1px solid var(--border);   
    border-radius: 10px;
    z-index: 999;
    padding: 10px 0;
}

.searchItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 12px;
    cursor: pointer;
    color: var(--text);                
}

.searchItem:hover {
    background-color: var(--bgBody); 
}

.searchPoster {
    width: 50px;
    height: 75px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px transparent;
}

.searchTitle {
    color: var(--text);                
    font-size: 18px;
}

.searchDate {
    color: var(--text);              
    opacity: 0.5;
}

.searchDirector {
    color: var(--text);             
    opacity: 0.5;
    font-style: italic;
}

.searchModeSelector {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    height: 36px;
    padding: 0 14px;
    
    background: var(--bgGold);

    border: none;

    border-left: none;
    border-top: 3px solid var(--border);
    border-right: 3px solid var(--border);
    border-bottom: 3px solid var(--border);

    border-radius: 0 25px 25px 0;

    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    color: black;
    font-size: 14px;
    font-family: 'Trebuchet MS';
    font-weight: 500;

    z-index: 3;
}

.searchModeSelector:hover {
    background: var(--goldHover) !important;
}

.searchModeDropdown {
    position: absolute;
    right: 0px;
    top: 55px;
    background: #1E1E1E;
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 120px;
    z-index: 1000;
    padding: 5px 0;
}

.searchModeDropdown div {
    padding: 8px 12px;
    color: var(--text);
    cursor: pointer;
    font-family: 'Trebuchet MS';
}

.searchModeDropdown div:hover {
    background: #2f2f2f;
}


#search-input {
    padding-right: 90px !important;
}

.userSearchItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 12px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.userSearchItem:hover {
    background-color: #2f2f2f;
}

.userSearchAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.userSearchName {
    color: var(--text);
    font-size: 18px;
    font-family: 'Trebuchet MS';
    flex-grow: 1;
}

.followingTag {
    color: var(--bgGold);
    font-size: 14px;
    font-weight: bold;
}

.notFollowingTag {
    color: #999;
    font-size: 14px;
    font-style: italic;
}
.searchModeSelector {
    user-select: none;
}

.searchModeSelector:focus {
    outline: none;
}

.searchModeSelector:active {
    outline: none;
}