.Settings{
    display: flex;
    flex-direction: column;
    margin: 50px 600px 0 500px;
    height: 500px;
    align-items: center;
    min-height: calc(100vh - 314px); 
}

#settingsUsername{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
    background-color: var(--bg);
}

#settingsAvatar{
    margin: 10px 0 0 0;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 280px;
    background-color: var(--bg);
}

#settingsAvatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.settingsNewAvatar{
    display: flex;
    margin: 20px 0 0 0;
    gap: 10px;
}

#settingsUploadBtn {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

#settingsUploadBtn:hover {
    background-color: #ddd;
}

#settingsSubmitBtn{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

#settingsSubmitBtn:hover {
    background-color: #ddd;
}

#settingsDelete{
    margin: 20px 0 0 0;
}
