.popularMoviesSection{
    background: var(--bgBody);
}

.popularHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 320px 0 240px;
    position: relative; 
}

.popularHeader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 300px;      
    width: 64.3%;        
    border-bottom: 1px solid var(--bgText);
}

.seeAll {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--bgText);
    cursor: pointer;
    text-decoration: none;
    margin-right: 70px;
}

.seeAll:hover {
    color: var(--bgText);
    text-decoration: underline;
}

.popularTitle{
    margin: 24px 0 12px;
    font-size: 28px;
    font-weight: 700;
    color: var(--bgText);
    line-height: 1.2;
    padding-left: 60px;
}

.movieBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px 320px 0 240px;
    background-color: var(--bgBody);
}

#popularMovies{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: 400px;
    gap: 33px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#popularMovies > #popularMoviePosters img{
    max-width: 220px;
    display: block;
    object-fit: contain;
    filter: grayscale(0%);
}

#popularMovies > #popularMoviePosters img:hover{
    filter: grayscale(100%);
}

#popularMovies::-webkit-scrollbar{
   display: none;
}

#popularMoviesLeft{
    background-color: var(--bgBody);
    border: none;
    cursor: pointer;
}

#popularMoviesRight{
    background-color: var(--bgBody);
    border:none;
    cursor: pointer;
}