.popularMoviesSection{
    background: var(--bgBody);
}

.popularHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 320px 0 240px;
    position: relative; 
}

.popularHeader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 300px;      
    width: 64.3%;        
    border-bottom: 1px solid var(--bgText);
}

.seeAll {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--bgText);
    cursor: pointer;
    text-decoration: none;
    margin-right: 70px;
}

.seeAll:hover {
    color: var(--bgText);
    text-decoration: underline;
}

.popularTitle{
    margin: 24px 0 12px;
    font-size: 28px;
    font-weight: 700;
    color: var(--bgText);
    line-height: 1.2;
    padding-left: 60px;
}

.movieBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px 320px 0 240px;
    background-color: var(--bgBody);
}

#popularMovies{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: 400px;
    gap: 33px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#popularMovies > #popularMoviePosters img{
    max-width: 218px;
    display: block;
    object-fit: contain;
    border-radius: 8px;    
}


#popularMovies::-webkit-scrollbar{
   display: none;
}

#popularMoviesLeft{
    background-color: var(--bgBody);
    border: none;
    cursor: pointer;
}

#popularMoviesRight{
    background-color: var(--bgBody);
    border:none;
    cursor: pointer;
}

#popularMoviePosters{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 8px;
   
}

#popularMoviesOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0 20px;          
    box-sizing: border-box;
    border-radius: 8px;
}

#popularMoviePosters:hover #popularMoviesOverlay  {
    opacity: 1;
}
#popularMoviePosters:hover img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}