.movieBar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 25px;
    padding: 0 300px 0 200px;
    background-color: #2B2B2B;
}
#popularMovies{
    justify-content: center;
    display: flex;
    align-items: top;
    border: 20px solid white;
    padding-top: 100px;
    flex-shrink: 1;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 400px;
    gap: 20px;
}
#popularMovies > #movie1 img{
    max-width: 215px;
    display: block;
    object-fit: contain;
    filter: grayscale(0%);
    transition: 0.3 ease;
    
}

#popularMovies > #movie1 img:hover{
    filter: grayscale(100%);
}

#popularMoviesLeft{
    background-color: #2B2B2B;
    border: none;
    cursor: pointer;
}
#popularMoviesLeft img{

}
#popularMoviesRight{
    background-color: #2B2B2B;
    border: none;
    cursor: pointer;
}
#popularMoviesRight img{

}
