.outNavBar{
    height: 100px;
    background-color: #1E1E1E;
    align-items:center;              
    flex-shrink: 1;
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.outLeft{
   padding-left: 300px;
}

.outRight{
    color: var(--text);
    padding-right: 400px;
}

.outLeft, .outRight{ 
    gap: 10px;
    display:flex;
    align-items:center;
}

.outMiddle{
    flex:1;          
    display: flex;
    justify-content: center;
    min-width:0;    
}

#outSearchBar{
    width : 100%;
    max-width: 800px;
    padding:10px 12px;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#outsearch-input{
    padding: 10px 12px;
    border:3px solid var(--border);
    border-radius:25px;
    outline:none;
    flex-grow: 1;
    font-family: 'Trebuchet MS';
}

#outNavLogo{
    width: 160px;
    height: 505px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    overflow: hidden;
    padding-bottom: 10px;         
}
#outNavLogo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

#outdropbtn{
    height: 35px;
    padding: 0 12px;
    background-color: var(--bgGold);
    color: var(--altText);
    border-radius:20px;
    font-size: 20px;
    border: none;
    font-family: 'Trebuchet MS';
}

#outMenu{
    position: relative;
    display: inline-block;
}

#outdropbtn > span, #outdropbtn > img{
    vertical-align: middle;
}

#outdropdown-content{
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bgGold);
    z-index: 1;
}

#outdropdown-content a{
    color: var(--altText);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

#outdropdown-content a:hover{
    background-color: var(--altText);
    color: var(--text);
}

#outMenu:hover #outdropdown-content{
    border-radius: 0px 0px 20px 20px;
    display: block;
}

#outMenu:hover #outdropbtn{
    border-radius: 20px 20px 0 0;
    background-color: #ffd900da;
}

#outMenu:hover #outdropdown-content #outWatchlistOption{
    border-radius: 0 0 18px 18px;
}

#outLog{
    height: 35px;
    padding: 0 12px;
    background-color: var(--bgGold);
    color: black;
    border-radius:25px;
    font-size: 20px;
}

#outLog:hover{
    background-color: var(--goldHover);
}

#outLog a{
    position: relative;
    top: 5px;
    color: inherit;
    text-decoration: none;
}

#outLog img{
    position: relative;
    top: 3px;
}