.UserInfo{
    background-color:#1E1E1E;
    font-size: 25px;
    color: white;
    margin: 50px 250px 50px 250px;
    height: 250px;
    width: 1350px;
    display: flex;
}

#changeAvatar{
    margin: 50px 0 0 50px;
    width: 154px;
    height: 154px;
    border-radius: 100px;
}

#avatar{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    color: transparent;
    transition: border-color 0.3s ease-in-out;
}

#avatar:hover{
    border-color: white;
}

#username{
    margin: 0 0 0 20px;
}

#editIcon img{
    margin: 125px 0 0 10px;
    width: 25px;
    height: 25px;
}

.edit-username{
    display: none;
}

.edit-username-open{
    position: relative;
    left: 50px;
    top:75px;
}

.newUsernameForm{
    background: var(--bgBody);
    padding: 25px;
    border-radius: 12px;
}

#exitButtonUsername{
    position: relative;
    top: 27px;
    left: 255px;
    background-color: transparent;
    border: none;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    cursor: pointer;
}

#leftSide{
    position: absolute;
    left: 1100px;
    display: flex;
}

.avgRating{
    margin: 77px 0 0 0;
    padding: 0 10px 0 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right-style: solid;
}

.avgRating img{
    position: relative;
    left: 5px;
    bottom: 2px;
    width: 30px;
}

#avgNum{
    display: flex;
    justify-content: center;
}

.followers{
    margin: 77px 0 0 10px;
    padding: 0 10px 0 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right-style: solid;
}

#numFollowers{
    display: flex;
    justify-content: center;
}


.following{
    margin: 77px 0 0 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#numFollowing{
    display: flex;
    justify-content: center;
}