.UserInfo{
    background-color:#1E1E1E;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    color: white;
    margin: 50px 250px 50px 250px;
    height: 250px;
    width: 1350px;
    display: flex;
}

#avatar{
    margin: 50px 0 0 50px;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    color: transparent;
    transition: border-color 0.3s ease-in-out;
}

#avatar:hover{
    border-color: white;
    cursor: pointer;
}

#username{
    margin: 0 0 0 20px;
}

#editIcon{
    margin: 125px 0 0 10px;
    width: 25px;
    height: 25px;
}

.avgRating{
    margin: 77px 0 0 500px;
    padding: 0 10px 0 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right-style: solid;
}

.avgRating img{
    position: relative;
    left: 5px;
    bottom: 2px;
    width: 30px;
}

#avgNum{
    display: flex;
    justify-content: center;
}

.followers{
    margin: 77px 0 0 10px;
    padding: 0 10px 0 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right-style: solid;
}

#numFollowers{
    display: flex;
    justify-content: center;
}


.following{
    margin: 77px 0 0 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#numFollowing{
    display: flex;
    justify-content: center;
}