.welcomeHeader{
    margin-top: 70px;
    margin-bottom: 40px;
}

#outWelcomeMessage{
    text-align: center;
    color: var(--text);
    font-size: 30px;
}

#outWelcomeMessage a{
    text-decoration: none;
    color: var(--bgGold);
}

#outWelcomeMessage a:hover{
    color: rgb(148, 148, 148);
    text-decoration: underline;
}