.moviePage {
    display: flex;
    margin: 150px 0 50px 300px;
    flex-direction: row;
    gap: 50px;
    color: var(--text);
    width: 100%;
    height: 100%;
}

.moviePoster #movieImage {
    width: 369px;
    flex-shrink: 0;
    border-radius: 8px;
}

.movieInfo {
    flex: 1;
    font-size: 20px;
    position: relative;
}

.movieInfo a {
    font-size: 15px;
    position: relative;
    bottom: 10px;
    opacity: 0.7;
    font-style: italic;
}

.movieInfo #movieDetails {
    display: block;
    margin: 5px 0 0 0;
    max-width: 400px;
    overflow-y: scroll;
    height: 210px;
    padding-right: 10px;
}

#movieDetails::-webkit-scrollbar {
    width: 8px;
}

#movieDetails::-webkit-scrollbar-track {
    border-radius: 4px;
}

#movieDetails::-webkit-scrollbar-thumb {
    background: #e2e2e288;
    border-radius: 4px;
}

#movieDetails::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2cc;
}

.movieInfo h2 {
    text-decoration: underline;
}

.titleRow {
    gap: 50px;
    display: flex;
    width: 100%;
}

.movieTitle {
    margin: 0;
    color: var(--text);
}

.movieDate {
    font-size: 20px;
    opacity: 0.7;
}

.outUserReviewWrapper {
    position: absolute;
    top: 122px;
    left: 500px;
}

#review-Button {
    color: var(--bgGold);
    font-weight: 700;
    font-size: 1.5em;
    opacity: 1;
}

#review-Button:hover {
    color: rgb(148, 148, 148);
}

.castRowWrapper {
    position: relative;
    width: 780px;
}

.castRow {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    flex-wrap: nowrap;
    max-width: 780px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 70px;
    scroll-behavior: smooth;
}

#castName,
#castMovieName {
    display: block;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
}

.castLeft,
.castRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--bgBody);
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
}

.castLeft {
    left: -40px;
}

.castRight {
    right: -40px;
}

.castRow img {
    width: 100px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #e2e2e288;
}

#castSpan {
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}

#cast1 {
    position: relative;
    top: 45px;
    right: 59px;
    border: 1px solid #e2e2e288;
    border-radius: 8px;
    width: 100px;
    background-color: #e2e2e21f;
}

#castName {
    font-size: 13px;
    font-weight: 700;
}

#castMovieName {
    font-size: 12px;
    opacity: 0.5;
}

.castRow::-webkit-scrollbar {
    height: 8px;
}

.castRow::-webkit-scrollbar-track {
    border-radius: 4px;
}

.castRow::-webkit-scrollbar-thumb {
    background: #e2e2e288;
    border-radius: 4px;
}

.castRow::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2cc;
}
