.moviePage {
    display: flex;
    margin: 150px 300px;
    flex-direction: row;
    gap: 50px;
    color: var(--text);
}

.moviePoster img {
    width: 350px;
    flex-shrink: 0;
    border-radius: 8px;
}

.movieInfo {
    flex: 1; 
    font-size: 20px;
}
.movieInfo span{
    display: block;
    max-width: 400px;
    
}
.movieInfo h2 {
    text-decoration: underline;
}

.titleRow {
    gap: 50px;
    display: flex;
    width: 100%;
}

.movieTitle {
    margin: 0;
    color: var(--text);
}

.movieDate {
    font-size: 20px;
    opacity: 0.7;
}

.castRow{
    display: flex;
    
}
.castRow img{
    width: 100px;
}
